<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <h1 class="page-heading">User List</h1>
      <ul class="no-style flex-list">
        <% app_users.forEach((app_user) => { %>
          <li class="flex-list--item">
            <%- include('./user-list-user.ejs', { app_user }) %>
          </li>
        <% }); %>
      </ul>
    </main>
  </body>
</html>