:root {
  // Variables
  --main-text-color: #353535;
  --main-background-color: #f6f6f6;
  --main-accent-color: #c53c77;
  --main-accent-color--dark: #ac324e;
  --shadow-color: #29292927;
  --shadow-accent-color: #c53c775c;
  --disabled-color: #a0a0a0;
  // Basic settings
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

button {
  background-color: var(--main-accent-color);
  color: var(--main-background-color);
  font-weight: 600;

  padding: 0.3rem 1rem;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: var(--main-accent-color--dark);
  }

  &:disabled {
    background-color: var(--disabled-color);
  }
}

button.no-style {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul.no-style, 
ol.no-style {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 1rem;

  &.no-v-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-heading {
  padding-bottom: 1rem;
}

.inset {
  padding-left: 1rem !important;
}

.flex-list {
  display: flex;
  flex-direction: column;

  .flex-list--item {
    // Create an evenly spaced dividing line between messages.
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--shadow-accent-color);
    padding-bottom: 1rem;

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }

    header {
      line-height: 1;
      margin-bottom: 0.5rem;
    }
  }
}

.message-list--message {
  display: grid;
  grid-template-rows: repeat(4, min-content);

  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.user-list--user {
  display: grid;
  grid-template-columns: 2fr 1fr;

  .user-list--user-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    button {
      width: 100%;
    }
  }
}

.main-nav {
  background-color: var(--main-accent-color);
  color: var(--main-background-color);
  font-size: 1.1rem;

  box-shadow: 5px 5px 20px 5px var(--shadow-color);

  ul {
    display: grid;
    // Create cols for all nav items.
    grid-template-columns: repeat(4, 1fr);
    // Do not try to use 'place-items: center' here as links and buttons will shrink to min size. 
    // Want links and buttons to take up entire grid space, not shrink down!
    // So align text to center instead.
    text-align: center;
  }

  li {
    display: flex;

    // Link/button fills whole section of navbar - so the whole section can be clicked, not just the text link.
    a,
    form,
    button {
      width: 100%;
    }

    a,
    button {
      padding: 0.5rem 0;
      color: var(--main-background-color);
      text-decoration: none;
      font-weight: 700;

      transition: background-color 0.4s, color 0.6s, font-weight 0.5s;

      &:hover {
        background-color: var(--main-accent-color--dark);
        color: white;
        cursor: pointer;
        font-weight: 900;
      }
    }
  }
}