<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <main class="container">
      <h1>An error has occurred: <%= error.message %></h1>
      <p><%= error.stack %></p>
    </main>
  </body>
</html>