<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
  <h1>Sign Up</h1>
  <form action="/sign-up" method="post">
    <%- include('partials/sign-up-form-fields.ejs') %>
    <button type="submit">Sign up</button>
  </form>
  <% if (locals.errors && errors.length > 0) { %>
    <ul>
    <% errors.forEach((error) => { %>
      <li><%= error.msg %></li>
    <% }); %>
    </ul>
  <% }; %>
</body>
</html>