<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <h1 class="page-heading">Messages</h1>
      <% if (locals.messages && messages.length > 0) { %>
        <ul class="no-style flex-list">
          <% messages.forEach((message) => { %>
            <li class="flex-list--item">
              <%- include('./message-list-message.ejs', { message }) %>
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        No messages found.
      <% }; %>
      <% if (locals.user && (user.is_member || user.is_admin)) { %>
        <a href="/message/new">Create new message</a>
      <% }; %>
    </main>
  </body>
</html>