<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <h1 class="page-heading">New Message</h1>
      <form action="/message/new" method="post" class="form">
        <%- include('./message-form-fields.ejs') %>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
      <%- include('../partials/errors.ejs') %>
    </main>
  </body>
</html>