<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <h1>New Message</h1>
      <form action="/message/new" method="post">
        <%- include('./message-form-fields.ejs') %>
        <button type="submit">Submit</button>
      </form>
      <%- include('../partials/errors.ejs') %>
    </main>
  </body>
</html>