<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <h1 class="page-heading">Secret Code - Member</h1>
      <form action="/secret-code/member" method="post">
        <%- include('secret-code-form-fields.ejs') %>
        <button type="submit">Submit</button>
      </form>
      <a href="/secret-code">Select a different type of code</a>
    </main>
  </body>
</html>