<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <h1 class='page-heading'>Secret Codes</h1>
      <a href="/secret-code/member">Member</a>
      <a href="/secret-code/admin">Admin</a>
    </main>
  </body>
</html>