<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <h1>Success!</h1>
      <a href="/secret-code">Select a different type of code</a>
    </main>
  </body>
</html>