<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>Success!</h1>
    <a href="/secret-code">Select a different type of code</a>
  </body>
</html>